.codepen {
  padding: 0 10px;
}
.swiper {
  width: 100%;
  max-width: 80%;
  min-height: 480px;
}
.swiper-container {
  display: flex;
}
.swiper-wrapper {
  margin-left: auto;
  margin-right: auto;
}
