:root {
  --color-page-background: #ffffff;
  --color-page-background--light: #e7e4e4;
  --color-text: #000000;
  --color-text--light: #3d3b3b;
  --color-box-shadow-steady: #a39a9a;
  --color-hover: aqua;
  --opp-bg: #000000a5;
}

.dark {
  --color-page-background: #000000;
  --color-page-background--light: #3d3b3b;
  --color-text: #ffffff;
  --color-text--light: #e7e4e4;
  --color-box-shadow-steady: #9aeffe;
  --color-hover: #9aeffe;
  --opp-bg: #ffffffa5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  height: 100%;
}

body {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Dina", monospace;
  background-color: var(--color-page-background);
}
