@keyframes sectOut {
  0% {
    transform: rotate(0) scale(1) translate(0, 0);
    opacity: 1;
    z-index: 11;
    box-shadow: 0 10px 50px var(--color-box-shadow-steady);
  }
  20% {
    box-shadow: 0 10px 50px var(--color-box-shadow-steady);
  }
  50% {
    transform: rotate(-20deg) scale(0.3) translate(-20%, -80%);
    box-shadow: 0 10px 50px var(--color-box-shadow-steady);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) scale(0.1) translate(0, 0);
    z-index: 10;
    opacity: 0;
    box-shadow: 0 10px 50px var(--color-box-shadow-steady);
  }
}
@keyframes sectIn {
  0% {
    transform: rotate(0deg) scale(0.1) translate(0, 0);
    opacity: 0;
    box-shadow: 0 10px 50px var(--color-box-shadow-steady);
  }
  50% {
    transform: rotate(20deg) scale(0.3) translate(30%, 60%);
    opacity: 1;
    box-shadow: 0 10px 50px var(--color-box-shadow-steady);
  }
  80% {
    box-shadow: 0 10px 50px var(--color-box-shadow-steady);
  }
  100% {
    transform: rotate(0deg) scale(1) translate(0, 0);
    z-index: 11;
    opacity: 1;
    box-shadow: 0 10px 50px var(--color-box-shadow-steady);
  }
}
@keyframes hideToRight {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(200%);
    opacity: 0;
  }
}
@keyframes showToLeft {
  0% {
    transform: translatex(200%);
  }
  100% {
    transform: translatex(0%);
  }
}
